<!DOCTYPE html>
<html >
<head>
    <title>{% block title %}safe education{% endblock %}</title>

</head>
<body>
<header id="header">
        <h1>
            <a href="/"><span> Safe Education</span></a>
        </h1>
        <nav>
            <ul>
                <td><a href="/register/">注册</a></td>
                <td><a href="/login/">登陆</a></td>
                <td><a href="/home/">主页</a></td>
            </ul>
        </nav>

</header>

{% block content %}

{% endblock %}

</body>
</html>