{% extends 'base.html' %}

{% block content %}

<form method="post" action="/register/">

            <p>
                <label for="id_username">Username:</label>
                <input type="text" maxlength="30" name="username" id="id_username">
                {% if error2 %}
                     <p style="color: red;">用户名重复</p>
                {% endif %}
            </p>

            <p>
                 <label for="id_password1">Password:</label>
                 <input type="password" id="id_password1" name="password1">
            </p>
            <p>
                {% if error %}
                     <p style="color: red;">输入相同的密码</p>
                {% endif %}
                 <label for="id_password2">Password confirmation:</label>
                 <input type="password" id="id_password2" name="password2">
            </p>
            <p>
              <label for="id_email">E-mail address:</label>
              <input type="text" maxlength="75" name="email" id="id_email">
            </p>

    <input type="submit" value="Register">
  </form>

{% endblock %}